
body {
    color: white;
    background-color: #4e4a46;
}
.signupComp {

    margin: 4px 4px 4px 4px;
}

.loginComp {
    margin: 5px 5px 5px 5px;

}

.signMarg {
    margin: 5px 10px 5px 5px;

}
body {
    background-color: gainsboro;
}
.closeButton {
    float: left;
}
.progCirc {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

