body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bm-menu-wrap {
  width: 250px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 40px;
  width: 40px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 0.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list a {
  padding: 0.8em;
}

.bm-menu a {
  color: #b8b7ad;
}

.bm-menu a:hover {
  color: #E66363;
}

a {
  color: #4e4a46;
  text-decoration: none;
}

.bm-item-list a span {
  margin-left: 20px;
  font-weight: 700;
}


.mainComp {
  backgroundColor: black;
  maring-left: 25%;
}

.tabBar {
  width: 75%;
}