.profile img.profile-background-image{
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
}

.image-profile
{
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%;
}

.profile-title {
  text-align: center;
}

@media (max-width:768px)
{
  .profile-text>h1{
    font-weight: 700;
    font-size:16px;
  }

  .image-profile
  {
    margin: -60px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}
