

h4, p{
    text-align: center;
    font-family: Courier;
    font-size: small;
    color: white;
}

p:hover {
    background-color: green;
}

img {
    size: 100px;
}


.cash{
    font-size: large;
    font-weight: 900;
    color: limegreen;

}
.name {
    font-size: large;
    font-weight: 700;
    color: red;

}

.imgProf {
    width: 100px;
    margin-left: 33%;
    margin-right: 33%;
    background: bisque;
}


